<%= simple_form_for(@question) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.text_area :content, :id => "message_area",required:true %><br>
</div>
<br>
<div class="form-actions">
  <%=f.submit "Agregar pregunta", class: "btn pull.right"%>
</div>

<% end %>
