<h3>Nueva pregunta</h3>
<br>
<%= render 'form', question: @question %>


<div class="panel-footer">
  <%= link_to preguntas_path, class: 'btn btn-success' do %>
    <%= fa_icon 'arrow-circle-left', text: t(:Atrás)  %>
  <% end %>
</div>
