<div class="panel-heading clearfix">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Busqueda de temas" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit" disabled="disabled"><%= fa_icon 'search', text: '' %></button>
        </span>
      </div>
    </div>
    <div class="col-lg-6"></div>
  </div>
</div>
<br>
<div class="table-responsive">
  <table class="table table-bordered table-striped" id="myTable">
    <thead>
      <tr>
        <th>Titulo tema</th>
      </tr>
    </thead>
    <tbody>
      <% if @asignatura.temas.present?%>
      <%@asignatura.temas.each_with_index do |tema, numero|%>
        <tr>
          <td>
            <%= link_to tema.titulo,tema_path(tema) %>
          </td>
        </tr>
      <%end%>
      <%else%>
        <tr>
          <td>Aún no hay temas para esta asignatura</td>

        </tr>
      <%end%>
    </tbody>
  </table>
</div>
