<p id="notice"><%= notice %></p>

<h1>Notas</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nombre Asignatura</th>
      <th>Notas Parciales</th>
    </tr>
  </thead>

  <tbody>
    <% @notas.each do |nota| %>
      <tr>
        <td><%= nota.nombre %></td>
        <td>
          <%= link_to alumno_notas_show_nota_path(asignatura: nota) do %>
            <%= fa_icon 'search', text: 'Ver' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
