<h3>Notas</h3>
<br><br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nombre Asignatura</th>
      <th>Notas Parciales</th>
    </tr>
  </thead>

  <tbody>
    <% @notas.each do |nota| %>
      <tr>
        <td><%= nota.nombre.titleize %></td>
        <td>
          <%= link_to alumno_notas_show_nota_path(asignatura: nota), class: 'btn btn-default' do %>
            <%= fa_icon 'search', text: 'Ver' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
