<p id="notice"><%= notice %></p>

<h1>Asignatura <%=Asignatura.find(@asignatura).nombre%></h1>

<table class="table table-bordered table-striped">
  <thead>
    <% @notas.each do |nota| %>
      <th>Nota <%= nota.porcentaje %>%</th>
    <% end %>
    <th>Nota Final</th>
  </thead>

  <tbody>
    <% @notas.each do |nota| %>
      <td><%= nota.nota %></td>
    <% end %>
    <td></td>
  </tbody>
</table>
