<h1>Subir Archivos</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Cursos</th>
      <th>Subir</th>
      <th>Ver Archivos</th>
    </tr>
  </thead>

  <tbody>
    <% @cursos.each do |curso| %>
      <tr>
        <td><%= curso.nombre %></td>
        <td></td>
      </tr>
        <% curso.asignaturas.each do |asignatura| %>
        <tr>
          <td><%= asignatura.nombre %></td>
          <td>
            <%= link_to new_profesor_post_path(asignatura: asignatura) do %>
              <%= fa_icon 'upload', text: 'Subir Archivo' %>
            <% end %>
          </td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
