<h3>Ingresar Notas</h3>
<br><br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Cursos</th>
      <th>Notas</th>
    </tr>
  </thead>

  <tbody>
    <% @cursos.each do |curso| %>
      <tr>
        <td><%= curso.grado %>°<%= curso.letra_codigo %></td>
        <td>
          <%= link_to profesor_curso_path(curso) do %>
            <%= fa_icon 'search', text: 'Ver' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
