<footer class='footer big-padding white-text'>
<nav class="navbar1 navbar-inverse" role="navigation"> <!--navbar-fixed-bottom-->


        <div class="navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li>
                    <a><img src="http://www.projetreussite.be/img/Icones-Direction-Blanc.png" width="60" height="60" alt=""></a>
                </li>
                <% if user_signed_in? %>
                <li><a class="col-md-9">BIENVENIDO,<br><%=current_user.name%>_<%=current_user.last_name%></a></li>
                <% end %>

                <li>
                    <a class="col-md-9" href=/contacts/new>Contacto</a>
                </li>

            </ul>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
</footer>
