<footer class='footer big-padding white-text'>
<nav class="navbar1 navbar-inverse" role="navigation"> <!--navbar-fixed-bottom-->
    <div class="container1">

        <div class="navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#3"><img src="http://cmdistribucionsrl.com/wp-content/uploads/2016/08/logo-facebook-300x300.png" width="60" height="60" alt=""></a>
                </li>
                <% if user_signed_in? %>
                <li><a class="col-md-9">BIENVENIDO,<%=current_user.name%></a></li>
                <% end %>
                <li>
                    <a class="col-md-9" href="#">Services</a>
                </li>
                <li>
                    <a class="col-md-9" href="#">Contact</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
</footer>
