<link href="https://blackrockdigital.github.io/startbootstrap-simple-sidebar/css/simple-sidebar.css" rel="stylesheet">
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">

                </li>
                <li>
                    <a href="#1">Inicio menú</a>
                </li>
                  <% if current_user.has_role? :admin %>
                <li>
                    <a href=/admin>ADMIN PANEL</a>
                </li>
                  <%end%>
                  <li>
                      <a href=/calendario/index>Calendario</a>
                  </li>
                <li>
                  <% if current_user.has_role? :profesor %>
                    <%= link_to 'Notas', profesor_notas_path %>
                  <% elsif current_user.has_role? :alumno %>
                    <%= link_to 'Notas', alumno_notas_path %>
                  <% end %>
                </li>
                <li>
                    <a href=/questions>Preguntas/Respuestas</a>
                </li>
                <li>
                    <a href=/archivos/listar_archivos>Subir archivos</a>
                </li>
                <li>
                    <a href=/posts>Subir archivos NUEVO</a>
                </li>
            </ul>
        </div>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
