<IMG SRC="http://www.educandojuntos.cl/wp-content/uploads/2015/11/colegio-rosa-elvira-matte.jpg">
<div class="container text-center container-fluid">
  <h3>Proyecto software</h3>
  <p>Aquí se escribirá todo el inicio de la pagina</p>
</div>
