
<div class="container1">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Colegio Rosa Elvira Matte
                    <small>Proyecto sofware</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://www.educandojuntos.cl/wp-content/uploads/2015/11/colegio-rosa-elvira-matte.jpg" alt="">
            </div>

            <div class="col-md-4">
                <h3>Descripción del proyecto</h3>
                <p>En este proyecto se pretende facilitar el manejo de cursos, asignaturas, profesores y alumnos, además de facilitar la comunicación entre ellos.</p>
                <h3>Usuarios admitidos</h3>
                <ul>
                    <li>Administrador</li>
                    <li>Profesor</li>
                    <li>Alumno</li>
                </ul>
            </div>

        </div>
