<h1 id="page_title"></h1>
<div ALIGN=center>


<div class="skinny_wrapper wrapper_padding center">
  <h1>Gracias por enviarnos un mail</h1>
  <p>Te responderemos a la brevedad, estamos trabajando para ud.</p>
  <IMG SRC="https://image.flaticon.com/icons/png/512/90/90603.png" width="250" height="250">
</div>
</div>
<br>
<br>
<br>
<br>
<br>
