default: &default
  adapter: postgresql
  encoding: unicode
  template: template0
  username: gabbo
  password: 1234
  host: localhost
  port: 5432
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: rails_dev

production:
  <<: *default
  host: localhost
  database: rails_production
  username: gabbo
  password: 1234
