
.table-entregas{
  position: static;
  width: 95%;
  overflow: visible;
}
.customHr {
    width: 100%;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;
    background-color: #535353;
    margin-top: 10px;
    margin-bottom: 10px;

}
.popover{
    max-width: 80%;
    max-height: 80%;
    width: auto !important;
    height: auto !important;
    display: block !important;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: .1px #000000;

}
.bs-example{
    	margin: 200px 150px 0;
    }
    .popover-title .close{
        position: relative;
        bottom: 3px;
    }

.btn-default2, .btn-default2:visited , .btn-default2:active  {
    background-color: #7238ba !important;
    color: #ffffff !important;
    border: none;
}

.btn-warning2:hover {

    border-color: #adadad !important;
    background-image: linear-gradient(#db9479, #c64a1a) !important;
}

.btn-warning2, .btn-warning2:visited , .btn-warning2:active  {
    background-color: #d15d30 !important;
    color: #ffffff !important;
    border: none;
}

.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.margin-custom {
	margin-left: 50px;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 12px;
}

.borde-modal {
  border: 1px solid;
  border-bottom: 1px;
  border-color: #535353;
  margin-right: 30px;
  margin-left: 30px;
}

.left-margin {
  margin-left: 20px;
  display: inline-block;
}

li {
  cursor: pointer;
}

.close {
    color: #ff0606b3;
    opacity: 1;
}


.btn-default3:hover {
    border-color: #adadad !important;
    background-image: linear-gradient(#48b42c, #20540a) !important
}

.btn-default3, .btn-default3:visited , .btn-default3:active, {
    background-color: #4eb633 !important;
    color: #ffffff !important;
    border: none;
}

.btn-success2, .btn-success2:visited , .btn-success2:active, {
  background-color: #6bc854 !important;
  color: #ffffff !important;
  border: none;
  margin-left: 20px;
}

.btn-success2:hover {
    border-color: #adadad !important;
    background-image: linear-gradient(#48b42c, #2e7e0d) !important
}

.btn-info2, .btn-info2:visited , .btn-info2:active, {
  background-color: #128a8e !important;
  color: #ffffff !important;
  border: none;
  margin-left: 20px;
}

.btn-info2:hover {
    border-color: #adadad !important;
    background-image: linear-gradient(#0c6c6f, #085355) !important
}

.btn-info3, .btn-info3:visited , .btn-info3:active, {
  background-color: #7e47ce !important;
  color: #ffffff !important;
  border: none;
}

.btn-info3:hover {
    border-color: #adadad !important;
    background-image: linear-gradient(#6f3db6, #4e2d7d) !important
}

.btn-warning2:hover {
    border-color: #adadad !important;
    background-image: linear-gradient(#db9479, #c64a1a) !important;
}

.btn-warning2, .btn-warning2:visited , .btn-warning2:active  {
    background-color: #d15d30 !important;
    color: #ffffff !important;
    border: none;
}

.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.margin-custom {
	margin-left: 50px;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 12px;
}

.borde-modal {
  border: 1px solid;
  border-bottom: 1px;
  border-color: #535353;
  margin-right: 30px;
  margin-left: 30px;
}

.left-margin {
  margin-left: 20px;
  display: inline-block;
}

li {
  cursor: pointer;
}
.customHr {
    width: 100%;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;
    background-color: #535353;
    margin-top: 10px;
    margin-bottom: 10px;

}

.btn-default2:hover {

    border-color: #adadad !important;
    background-image: linear-gradient(#724089, #734da1) !important;
}

.btn-default2, .btn-default2:visited , .btn-default2:active  {
    background-color: #7238ba !important;
    color: #ffffff !important;
    border: none;
}

.btn-warning2:hover {

    border-color: #adadad !important;
    background-image: linear-gradient(#db9479, #c64a1a) !important;
}

.btn-warning2, .btn-warning2:visited , .btn-warning2:active  {
    background-color: #d15d30 !important;
    color: #ffffff !important;
    border: none;
}

.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.margin-custom {
	margin-left: 50px;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 12px;
}

.borde-modal {
  border: 1px solid;
  border-bottom: 1px;
  border-color: #535353;
  margin-right: 30px;
  margin-left: 30px;
}

.left-margin {
  margin-left: 20px;
  display: inline-block;
}

li {
  cursor: pointer;
}

.close {
    color: #ff0606b3;
    opacity: 1;
}


.btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus {
    pointer-events: auto !important;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    background-image: linear-gradient(#929292, #cccccc, #bdbdbd);
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    background-image: none;
}

textarea.form-control {
    height: 120px;
}

.select2-container--default.select2-container--disabled .select2-selection--single{
  background-color: #aaa;
}

.panel-body{
  background-color: #3e444c;
}

.display_block{
  display: block !important;
}

@media (max-width: 768px){
  .panel-footer, .botones{
    text-align: center;
  }
}
@media (min-width: 768px){
  .container {
      width: 99%;
  }
}

@media (min-width: 1200px){
  .container {
      width: 95%;
  }
}

.margin-bottom{
  margin-bottom: 3%;
}
.referencia{
    text-align: center;
    margin-bottom: 3%;
    margin-top: 2%;
}

.treegrid-collapsed, .treegrid-expanded{
  background-color: #696b6c !important;
  color: white;
}
.referencia_from_list .table-responsive{
  overflow: visible;
}
.referencia_from_list .form-group{
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px;
}
.referencia_from_list .col-sm-9{
  width: 95%;
}
.pos_ventas .form-group {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px;
}
.pos_ventas .col-sm-9{
  width: 95%;
  padding-left: 0;
  padding-right: 0;
}

.atributo_valores .form-group {
  margin-bottom: 15px;
}
.atributo_valores .col-sm-9{
    width: 95%;
}

.btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus {
    pointer-events: none;
}

h1 small, h1 .small, h2 small, h2 .small, h3 small, h3 .small, h4 small, h4 .small, h5 small, h5 .small, h6 small, h6 .small, .h1 small, .h1 .small, .h2 small, .h2 .small, .h3 small, .h3 .small, .h4 small, .h4 .small, .h5 small, .h5 .small, .h6 small, .h6 .small {
    color: #CE9400;
}
h1, h2, h3, h4, h5, h6 {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
.welcome {
    width: auto !important;
    height: 250px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 96px;
    color: white;
    border: .5px solid #CE9400;
    border-radius: 10px;
    max-width: 420px;
}

.welcome img{
  padding-top: 25px;
  position: relative;
  max-width: 100%;
  height: auto;
}

.panel-default{
  color: white;
}

html, body {
    min-height: 100%;
}
// Bootstrap body padding for fixed navbar
body {
  padding-top: 60px;
  background: no-repeat center center fixed;
  background-image: image-url("fondo2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #DCDCDC;
  text-shadow: #585858;
  overflow-x: hidden;
}

@media (min-width: 768px ) {
  .row {
    position: relative;
  }

  .bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.page-header {
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.page-header h3{
  padding-left: 15px;
}
.page-header i{
  color: white;
}
.position-right{
  text-align: right;
  position: relative;
}
// paginacion
.pagination {
  margin: 0;
}

// detalle ancho nombre columna
.col-title {
  width: 15%;
}

.col-content {
  width: 35%;
}

// bootstrap 3 select2 fix
/**
* Change three lines
*
/* line 11 */
.select2-container {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 34px;
  user-select: none;
  -webkit-user-select: none;
}

/* line 131 */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 32px;
}

/* line 139 */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 32px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-selection {
  height: 34px !important;
}

.input-height{
  height: 34px !important;
}

.input2{
  width: 100%;
}
.margin-top{
  margin-top: 3px !important;
}

.alerta{
  background-color: red;
}

/*Margenes a los iconos del menu de navegacion y dropdown*/
.icon-fixed-width {
 display: inline-block;
 width: 16px !important;
 text-align: center;
 padding-right: 4px !important;
}

.padding-right{
  padding-right: 4px;
}
 .cortar{
  width: 10px;
  overflow: hidden; /* Escondemos la parte sobrante */
  white-space: nowrap; /* Indicamos que no realice salto de linea si no cabe en la anchura indicada */
  text-overflow: ellipsis; /* Ponemos los dos puntos */
 }


.text-red{
  color: #FF3000;
}

.text-green{
  color: #00ED03;
}


@media (max-width: 1000px) {
    .navbar-header {
        float: none !important;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block !important;
    }
    .navbar-collapse {
        border-top: 1px solid transparent !important;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1) !important;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px !important;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}


//dropdown menu y dropdown subenu
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
.custom_error{
  color: white;
  font-size: 13px;
}

.observaciones-instructivo{
  width: 1000px;
  height: 500px !important;
}
textarea{
  max-width: 100%;
  max-height: 150px;
}
.td_center{
  text-align: center;
  vertical-align: middle !important;
}
.form-control{
  color: black !important;
}
.select2-selection__rendered {
    color: black !important;
}
.select2-selection__placeholder {
    color: #999999 !important;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999999 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999999 !important;
   opacity:  1 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999999 !important;
   opacity:  1 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #c1c1c1 !important;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.btn-primary {
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
    background: #337ab7 !important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #286090 !important;
    border-color: #204d74 !important;
    background: #286090 !important;
}


//sweetalert
.swal2-warning{
  color: black !important;
  background-image: -webkit-linear-gradient(#faa123, #f89406 60%, #e48806);
  background-image: -o-linear-gradient(#faa123, #f89406 60%, #e48806);
  background-image: linear-gradient(#faa123, #f89406 60%, #e48806);
  background-repeat: no-repeat;
}
.swal2-cancel{
  background-image: -webkit-linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
  background-image: -o-linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
  background-image: linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
  background-repeat: no-repeat;
}
.swal2-confirm {
    background-image: -webkit-linear-gradient(#78cc78, #62c462 60%, #53be53);
    background-image: -o-linear-gradient(#78cc78, #62c462 60%, #53be53);
    background-image: linear-gradient(#78cc78, #62c462 60%, #53be53);
    background-repeat: no-repeat;
}

.show-swal2{
  background-color: #3e444c !important;
  border: 1px solid black !important;
  border-radius: 10px !important;
}
.swal2-modal h2{
  color: white !important;
}

.swal2-confirm{
  margin: 10px !important;
}
.swal2-cancel{
  margin:10px !important;
}


.swal2-icon.swal2-error .line {
    background-color: red !important;
}

.swal2-icon.swal2-error {
    border-color: red !important;
}

.swal2-modal .swal2-content {
    color: orange !important;
}

.swal2-info{
  color: red !important;
}

.styled.loading{
  background: none !important;
}
.styled.loading i{
  display: none;
}

.swal2-icon.swal2-success .fix {
    background-color: transparent !important;
}
.swal2-icon.swal2-success::before, .swal2-icon.swal2-success::after {
    background: transparent !important;
}
.botones{
	margin-top: 2em;
}

.divider2{
  height: 1px;
  margin: 2px 0;
  overflow: hidden;
  background-color: #272B30;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-verde, .btn-verde:visited , .btn-verde:active, {
  background-color: #358116 !important;
  color: #ffffff !important;
  border: none;
}
.btn-verde:hover {
  border-color: #adadad !important;
  background-image: linear-gradient(#31831c, #1f5709) !important
}

.btn-verde-borde, .btn-verde-borde:visited , .btn-verde-borde:active, {
  //botón color:verde con borde redondo
  background-color: #358116 !important;
  color: #ffffff !important;
  border: none;
  border-radius: 30px !important;
}
.btn-verde-borde:hover {
  border-color: #adadad !important;
  background-image: linear-gradient(#31831c, #1f5709) !important
}

.btn-verde-claro, .btn-verde-claro:visited, .btn-verde-claro:active, {
  background-color: #65c365 !important;
  color: #ffffff !important;
  border: none;
}
.btn-verde-claro:hover {
  border-color: #adadad !important;
  background-image: linear-gradient(#5daa5d, #417341) !important
}

.btn-verde-claro-borde, .btn-verde-claro-borde:visited , .btn-verde-claro-borde:active, {
  //botón color:verde claro con borde redondo
  background-color: #65c365 !important;
  color: #ffffff !important;
  border: none;
  border-radius: 30px !important;
}
.btn-verde-claro-borde:hover {
  border-color: #adadad !important;
  background-image: linear-gradient(#5daa5d, #417341) !important
}

.btn-azul, .btn-azul:visited , .btn-azul:active, {
  background-color: #07879c !important;
  color: #ffffff !important;
  border: none;

}
.btn-azul:hover {
  border-color: #adadad !important;
  background-image: linear-gradient(#066e80, #064e59) !important
}

.btn-azul-borde, .btn-azul-borde:visited , .btn-azul-borde:active, {
  //botón color:azul con borde redondo
  background-color: #07879c !important;
  color: #ffffff !important;
  border: none;
  border-radius: 30px !important;
}
.btn-azul-borde:hover {
  border-color: #adadad !important;
  background-image: linear-gradient(#066e80, #064e59) !important
}


.btn-naranja, .btn-naranja:visited , .btn-naranja:active, {
  background-color: #d57608 !important;
  color: #ffffff !important;
  border: none;
}
.btn-naranja:hover {
  border-color: #adadad !important;
  background-image: linear-gradient(#b46408, #ad610a) !important
}


.btn-naranja-borde, .btn-naranja-borde:visited , .btn-naranja-borde:active, {
  //botón color: naranja con borde redondo
  background-color: #d57608 !important;
  color: #ffffff !important;
  border: none;
  border-radius: 30px !important;
}
.btn-naranja-borde:hover {
  border-color: #adadad !important;
  background-image: linear-gradient(#b46408, #ad610a) !important
}


.btn-morado, .btn-morado:visited , .btn-morado:active, {
  background-color: #8756b3  !important;
  color: #ffffff !important;
  border: none;
}
.btn-morado:hover {
  border-color: #adadad !important;
  background-image: linear-gradient(#69438b, #4b3063) !important
}

.btn-morado-borde, .btn-morado-borde:visited , .btn-morado-borde:active, {
  //botón color: morado con borde redondo
  background-color: #8756b3  !important;
  color: #ffffff !important;
  border: none;
  border-radius: 30px !important;
}
.btn-morado-borde:hover {
  border-color: #adadad !important;
  background-image: linear-gradient(#69438b, #4b3063) !important
}

.btn-amarillo:hover {
  border-color: #adadad !important;
  background-image: linear-gradient(#8a940b, #727a0a) !important
}

.btn-amarillo, .btn-amarillo:visited , .btn-amarillo:active, {
  background-color: #ddc515e6 !important;
  color: #ffffff !important;
  border: none;
}

.btn-rojo, .btn-rojo:visited , .btn-rojo:active, {
  background-color: #e41717   !important;
  color: #ffffff !important;
  border: none;
}
.btn-rojo:hover {
  border-color: #adadad !important;
  background-image: linear-gradient(#b60e0e, #8f0707) !important
}

.btn-rojo-borde, .btn-rojo-borde:visited , .btn-rojo-borde:active, {
  //botón color: rojo con borde redondo
  background-color: #e41717  !important;
  color: #ffffff !important;
  border: none;
  border-radius: 30px !important;
}
.btn-rojo-borde:hover {
  border-color: #adadad !important;
  background-image: linear-gradient(#b60e0e, #8f0707) !important
}


.btn-azul-claro, .btn-azul-claro:visited , .btn-azul-claro:active, {
  background-color: #2daae2  !important;
  color: #ffffff !important;
  border: none;
}
.btn-azul-claro:hover {
  border-color: #adadad !important;
  background-image: linear-gradient(#186d94, #0a4863) !important
}

.btn-azul-claro-borde, .btn-azul-claro-borde:visited , .btn-azul-claro-borde:active, {
  //botón color: azul-claro con borde redondo
  background-color: #2daae2  !important;
  color: #ffffff !important;
  border: none;
  border-radius: 30px !important;
}
.btn-azul-claro-borde:hover {
  border-color: #adadad !important;
  background-image: linear-gradient(#186d94, #0a4863) !important
}

.btn-blanco, .btn-blanco:visited , .btn-blanco:active, {
  background-color: #ffffff  !important;
  color: #000000 !important;
  border: none;
}
.btn-blanco:hover {
  border-color: #adadad !important;
  background-image: linear-gradient(#b1a6a6, #d7d7d7) !important;
}

.btn-blanco-borde, .btn-blanco-borde:visited , .btn-blanco-borde:active, {
  //botón color: blanco con borde redondo
  background-color: #ffffff  !important;
  color: #000000 !important;
  border: none;
  border-radius: 30px !important;
}
.btn-blanco-borde:hover {
  border-color: #adadad !important;
  background-image: linear-gradient(#b1a6a6, #d7d7d7) !important;
}

.link-verde, .link-verde:visited , .link-verde:active, {
  color: #29c530  !important;
  border: none;
}

.link-azul, .link-azul:visited , .link-azul:active, {
  color: #2ab7f9  !important;
  border: none;
}

.tree, .tree ul {
    margin:4px;
    margin-left:30px;
    padding:0;
    list-style:none;
}
.tree ul {
    margin-left:0.5em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:3px;
    padding:0 1em;
    line-height:2em;
        color:#ffffff;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:0px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background: transparent;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#ffffff;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#ffffff;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

.folder-open-color{
  color: #ece308 !important;
}

.folder-close-color{
  color: #ffa000 !important;
}

.custom-inline-form{
  display: -webkit-inline-box;
}

.mensaje-error {
  margin: 10px 0px;
  padding: 5px;
  width: 50%;
  margin:auto; /*centrar objeto*/
  font-size: 15px;
  vertical-align:middle;
  /*margin: 10px 22px;*/
}

.div_descripcion{
  padding-left: 0px;
  padding-right: 0px;
}

.div_boton{
  padding-left: 0px;
}

#boton_modal{
  height: 34px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  border-left-width: 0px;
}
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.pink-textarea textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink-textarea.md-form label.active {
    color: #f48fb1;
}

.amber-textarea textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffa000;
    box-shadow: 0 1px 0 0 #ffa000;
}
.active-amber-textarea.md-form label.active {
    color: #ffa000;
}


.active-pink-textarea-2 textarea.md-textarea {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink-textarea-2.md-form label.active {
    color: #f48fb1;
}
.active-pink-textarea-2.md-form label {
    color: #f48fb1;
}


.active-amber-textarea-2 textarea.md-textarea {
    border-bottom: 1px solid #ffa000;
    box-shadow: 0 1px 0 0 #ffa000;
}
.active-amber-textarea-2.md-form label.active {
    color: #ffa000;
}
.active-amber-textarea-2.md-form label {
    color: #ffa000;
}
