<p>Hola <%= @resource.email %>!</p>

<p>Se a solicitado cambiar tu contraseña, si es así, has click en el link de abajo.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no lo has solicitado, porfavor ignora este mail.</p>
<p>Tu contraseña no será cambiada si no haces click en el link.</p>
<p>Saludos!</p>
